body{
  display:flex;
  background-image:url('../images/construction-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.loginPage{
  width: 360px;
  padding: 30px 25px;
  margin: auto;
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  align-content: center;
  align-items: center;
  background-color: white;
}
